<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>


    <header>
      <h2 id="heading">
        Catalog App
      </h2>

      <div id="log">
      </div>
    </header>
    <div id='content'>

          <form action="{{url_for('add_item')}}" method="post">
            <h2>Add Item</h2>

            <label for="Title">Title</label>
            <br>
            <input id="Title" type="text" name="Title">
            <br><br>

            <label for="Description">Description</label>
            <br>
            <textarea name="Description" rows="8" cols="80"></textarea>
            <br><br>

            <label for="Category">Category</label>:
            <select id="Category" name="Category">
              {% for i in full_categories%}
              <option value="{{i.name}}">{{i.name}}</option>
              {%endfor%}
            </select>
            <br><br>

            <input type="submit" value="Add Item">
            <a href="{{url_for('homepage')}}">Cancel</a>

          </form>

    </div>



  </body>
</html>
