<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body>
  <header>
    <h2 id="heading">Catalog App Login</h2>
    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="log">
        <div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="684407225981-407t17v17qqddoenvgg1ut87jcbe7mah.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
    </div>
  </header>
  <div id="result">Please Log in to the app</div>



<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds,
    // write a 'login successful' message to the web page
    // then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      // Send ajax request to the server to function /gconnect
      success: function(result) {
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
        }, 2000);

      } else if (authResult['error']) { // failed login
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }
</script>
</body>
</html>
