<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="utf-8">
    <title>Category Page</title>
  </head>

  <body>

  <header>
      <h2 id="heading">
        Catalog App
      </h2>

      <div id="log">
        {%if login_status%}
          <a href="{{url_for('gdisconnect')}}">Logout</a>
        {%else%}
          <a href="{{url_for('appLogin')}}">Login</a>
        {%endif%}
      </div>
  </header>

  {%with messages = get_flashed_messages()%}
    {%if messages%}
      <ul>
        {%for message in messages%}
          <li> <strong>{{message}}</strong> </li>
        {%endfor%}
      </ul>
    {%endif%}
    {%endwith%}


<div id="content">
      <div id="category">
        <h3>Categories</h3>
        <ul>
        {% for i in categories %}
        <li>
          {% if category==i.name%}
            <h3><a href="{{url_for('category_page',category=i.name)}}">{{ i.name }}</a></h3>
          {%else%}
            <a href="{{url_for('category_page',category=i.name)}}">{{ i.name }}</a>
          {%endif%}
        </li>
            <br>
            {% endfor %}
        </ul>
      </div>

{% if login_status %}
<div>
  <a href="{{url_for('add_item')}}">Create Item</a>
</div>
{%endif%}

<div id="items">

        <h3>{{category}} Items ({{count}} Items)</h3>
<ul>
          {% for i in item%}
          <li>
          <a href="{{url_for('item_page',category=category,item=i.title)}}">{{ i.title }}</a>
          </li>
          <br>
          {%endfor%}
</ul>
</div>
</div>

  </body>
</html>
